.page-static{
    .wrap-container-static{
        padding: 30px 10px;
        .title-static{
            max-width: 960px;
            margin: auto;
            margin-bottom: 15px;
        }
        .mg-static{
            max-width: 960px;
            margin: auto;
            padding: 15px;
            box-shadow: 0 0 5px #bdbcbc;
            border-radius: 10px;
        }
    }
}