@import "mixin.scss";
.BoxSupport{
    position: absolute;
    width: 100%;
    z-index: 99999;
    padding: 15px;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    .item-row{
        .title-box-support{
            padding: 0px 50px;
            line-height: 40px;
            border-radius: 20px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            background: linear-gradient(45deg, #ff990f, #fe532e);
            text-align: center;
            width: max-content;
            margin: auto;
            color: #fff;
            @include mediaMaxWidth(1440px){
                padding: 0 30px;
                line-height: 33px;
            }
        }
        .item-col-title{
            margin-bottom: 10px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
        }
        .box-list{
            .icon-link{
                display: flex;
                align-items: center;
                svg{
                    color: #155aa4;
                }
            }
        }
    }
}